html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

/* headings styles */
h1,
h2,
h3,
p {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #565656;
}

h4 {
    font-family: bickham-script-pro-3, sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    color: #d7cec7;
    text-align: center;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}


/*
header {
    position: fixed;
    top: 0;
    z-index: 1500;
}
*/

#topheader {
    background-color: #565656;
    padding: 1em;
}

#logo {
    text-align: center;
}

/*
#intro {
    padding: 0.625em;
}
*/

#intro h2 {
    margin-top: -0.025em;
}

#intro h3 {
    color: #c09f80;
    margin-top: -1em;
}

#intro h2,
h3 {
    text-align: center;
}

.wood {
    background-image: url(../img/wood.png);
}

.whitebox {
    background: rgba(0, 0, 0, 0.5);
}

#intro p {
    padding: 2em;
    color: #fafafa;
    font-size: 2em;
}


/* footer */
footer {
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    font-size: 0.625em;
}
