html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Body */
body {
    background-color: #fafafa;
}

/* headings styles */
h1,
h2,
h3,
p {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #565656;
}

h4 {
    font-family: bickham-script-pro-3, sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    color: #fafafa;
    text-align: center;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}


/*
header {
    position: fixed;
    top: 0;
    z-index: 1500;
}
*/

#topheader {
    background-color: #565656;
    padding: 0.5em;
    margin-bottom: 1em;
}

#logo {
    text-align: center;
}

/*
#intro {
    padding: 0.625em;
}
*/

#intro h2 {
    margin-top: -0.025em;
}

#intro h3 {
    color: #c09f80;
    margin-top: -1em;
}

#intro h2,
h3 {
    text-align: center;
}

.wood {
    background-image: url(../img/wood.png);
}

.whitebox {
    background: rgba(0, 0, 0, 0.5);
}

#intro p {
    padding: 2em 0 2em 1em;
    color: #fafafa;
    font-size: 2em;
}

/* Nav */
nav h3 {
    padding-top: 1.5em;

}

button {
    display: block;
    border: none;
    color: #d7cec7;
    font-family: 'proxima-nova-condensed', sans-serif;
    background-color: #841f27;
    font-size: 1.5em;
    padding: 2em;
    width: 8em;
    margin: auto;
    margin-bottom: 2em;
}

nav a {
    text-decoration: none;
}

button:hover {
    box-shadow: 0 0.75em 1em 0 rgba(0, 0, 0, 0.24), 0 1em 3.125em 0 rgba(0, 0, 0, 0.19);
    background-color: #d7cec7;
    color: #841f27;
}

/* food section style */
#food img {
    height: auto;
    width: 100%;
}

#food h3 {
    padding-top: 1.5em;
}

#food p {
    font-size: 2em;
    margin: 0.5em;
    padding: 0 0 2em 1em;
}

#food a {
    text-decoration: none;
    color: #841f27;
}

#food a:hover {
    color: #d7cec7;
}

/* footer */
footer {
    text-align: center;
    margin: 3em 0;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    font-size: 0.625em;
}
