html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    background-color: #d7cec7;
}

/* headings styles */
h1,
h2,
h3,
p {
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #565656;
}

h4 {
    font-family: bickham-script-pro-3, sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    color: #d7cec7;
    text-align: center;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

/* footer */
footer {
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    font-size: 0.625em;
}

/*
header {
    position: fixed;
    top: 0;
    z-index: 1500;
}
*/

#topheader {
    background-color: #565656;
    padding: 1em;
}

#logo {
    text-align: center;
}
